/* -------------------------------------- */ 
/* BASIC COMPONENTS */
/* -------------------------------------- */ 
/* Removes all magins/padding from webpage. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Font and color structure for the webpage */
html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility; 
    /* Prevent's text overflow extending outside website limits (such as thiner site on mobile) */
    overflow-x: hidden
}
/* Clears Floats. */
/* Clearfix 'class' added to HTML to clear CSS Float element found within Meals Secction lists. */
.clearfix {zoom, 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/* -------------------------------------- */ 
/* REUSABLE COMPONENTS */
/* -------------------------------------- */ 
.row { 
    /* Maximum size of the webpage */
    max-width: 1140px;
    /* Centers the columns of the webpage (top/bottom = 0, left/right = auto) */
    margin: 0 auto;
}
section {
    /* Adds 80px left/right. No margines top/bottom. */ 
    padding: 80px 0;
}
.box {
    /* Adds minor spacing to column boxes. */ 
    padding: 1%;
}

/* ---------- HEADINGS ---------- */ 
/* -- Shared attributes for all headings -- */
h1,
h2,
h3 { 
    /* Sets header font weight */
    font-weight: 300;
    /* Capitalizes all text. */ 
    text-transform: uppercase;
}
h1 {
    /* Removes top margin from H1 header. */ 
    margin-top: 0;
    /* Sets 20px space for buttons below. */ 
    margin-bottom: 20px;
    /* Sets Header font color to white. */ 
    color: #fff;
    /* Sets Header font to 40px (double front size from html class.. */ 
    font-size: 240%;
    /* Adds a bit more space between words. */ 
    word-spacing: 4px;
    /* Adds a bit more space to capilized letters. */ 
    letter-spacing: 1px;
}
h2 {
    /* Sets Header font to approx 36px (double front size from html class.. */ 
    font-size: 180%;
    /* Adds a bit more space between words. */ 
    word-spacing: 2px;
    /* Centers text. */ 
    text-align: center;
    /* Adds some space between header and columns. */ 
    margin-bottom: 30px;
    /* Adds a bit more space to capilized letters. */ 
    letter-spacing: 1px;
}
h3 {
    /* Sets Header font to approx 30px (double front size from html class.. */ 
    font-size: 110%;
    /* Adds space below header. */ 
    margin-bottom: 15px;
    
}
/* :after is a CSS Pseudo class. MUST specify content. */ 
/* Adds minor styling such as a color theme bar on the page. */ 
h2:after{
    /* Adds a block element defined within h2 parameters above. */ 
    display: block;
    /* Height of block element. As height only, will appear as a bar. */ 
    height: 2px;
    /* background color (orange). */ 
    background-color: #cf6d17;
    /* Leave a space so no words appear. */ 
    content: " ";
    /* Weidth of block element. */ 
    width: 100px;
    /* Centers bar on page. 0 leaves top/bottom alone. auto will keep static and adjust w/ page. */ 
    margin: 0 auto;
    /* Adds space above bar. */ 
    margin-top: 30px;
}

/* ---------- PARAGRAPHS ---------- */ 
.long-copy {
    /* Adds height to "sub paragaph". */
    line-height: 145%;
    /* Forces text box to a size of 70% (15% for left, 15% for right remaining). */
    width: 70%;
    /* Width 30% remaining and image shifted to the leff; adding 15% to left to balance (1/2 of 30%). */
    margin-left: 15%;
}
/* Selects all paragraphs within the columns/boxes. */ 
.box p {
    font-size: 90%;
    line-height: 145%;
}

/* ---------- ICONS ---------- */ 
/* Formats big icons on top of columns. Formatting similar to fonts. */ 
.icon-big {
    /* Overall size of icon. */ 
    font-size: 350%;
    /* Places icon in a "box". */ 
    display: block;
    /* Icon color - Orange. */ 
    color: #e67e22;
    /* Adds buffer below icon. */ 
    margin-bottom: 10px;
}
/* Formats Small Icons as found within columns. Formatting similar to fonts. */ 
.icon-small {
    /* Put's icon into box to format. */
    display: inline-block;
    /* Width of icon. */
    width: 30px;
    /* Centers icon within box. */
    text-align: center;
    /* Color of div object */
    color: #e67e22;
    /* Enlarges size of icon. */
    font-size: 120%;
    /* Adds slight padding between icon/text. */
    margin-right: 10px;
    /* Secrets to align icons and text. */
    /* Matches height and allignment to font. */
    line-height: 120%;
    vertical-align: middle;
    /* If icon is slightly off (ie: too low), negative margins can move icon up slightly. */
    margin-top: -5px;
}

/* ---------- LINKS ---------- */ 
/* Formats all links. CSS Sudo-class :link and :active means <a> element will reamin this format before/after selected. */ 
a:link,
a:visited {
    /* Links will be orange in color. */
    color: #e67e22;
    /* Removes link inherant blue underline. */
    text-decoration: none;
    /* Slight space between link and line beneith. */
    padding: 1px;
    /* Border to Create an unline. */
    border-bottom: 1px solid #e67e22;
    /* Transitions link from active to hover action.  */ 
    transition: border-bottom 0.2s, color 0.2s;
}
/* Link format/action upon mouse hovers over and ready for selection. */ 
a:hover,
a:active {
     /* Links turns grey upon hover. */
    color: #555;
    /* Fades border. */
    border-bottom: 1px solid transparent;
}

/* ---------- BUTTONS - LINK ---------- */ 
/* Basic Button/link formatting. Adds Sudo-class :link and :visited means <a> element will reamin this format before/after selected. */ 
/* Includes Input = Form Submit Button. */
.btn:link,
.btn:visited,
input[type=submit] {
     /* Creates a inline element or "box".  */ 
    display: inline-block;
     /* Sets 10px top/bottom, 30px left and right. */ 
    padding: 10px 30px;
     /* Sets font weight. */ 
    font-weight: 300;
     /* Removes standard button (link) font format. */ 
    text-decoration: none;
    /* Creates circular button border */ 
    border-radius: 200px;
     /* Transitions button from active to link  */ 
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
/* Main or "Full" Button formatting. Button visible on page. */ 
/* Includes Input = Form Submit Button. */
.btn-full:link,
.btn-full:visited,
input[type=submit] {
    /* Background color of button, orange (carrot) from flatuicolors.com. */ 
    background-color: #e67e22;
    /* Added "padding" from button below to match sizes. Same color of background. */ 
    border: 1px solid #e67e22;
    /* Sets Color of font within button to white. */ 
    color: #fff; 
    /* Adds 15px of space to the right. */ 
    margin-right: 15px;
}
/* "Ghost" or sub-link Button formatting. Button is see-through w/ boarder. */ 
.btn-ghost:link,
.btn-ghost:visited { 
    /* Button uses border only. Same color of actual button above. */ 
    border: 1px solid #e67e22;
    /* Sets Color of font within button to match border color. */ 
    color: #e67e22; 
}


/* ---------- BUTTONS - HOVER ---------- */ 
/* Button format/action upon mouse hovers over and ready for selection. */ 
/* Includes Input = Form Submit Button. */
.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    /* Background color of button, darker orange vairation of button color above from 0to255.com. */
    background-color: #cf6d17;
}

/* Full Button format/action upon mouse hovers over and ready for selection. */ 
/* Includes Input = Form Submit Button. */
.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active {
    /* Added "padding" from button below to match sizes. Same color of background. */ 
    border: 1px solid #cf6d17;
}
/* "Ghost" Button format/action upon mouse hovers over and ready for selection. */
.btn-ghost:hover,
.btn-ghost:active { 
    /* Button uses border only. Same color of actual button above. */ 
    border: 1px solid #cf6d17;
    /* Sets Color of font within button to white. */ 
    color: #fff; 
}


/* -------------------------------------- */ 
/* HEADER */
/* -------------------------------------- */ 
header {
    /* Background image as found in resources/css/img. Linear-gradient adds dark, filter to image to help with text visibility. */
    /* Set to black with 70% transparency. */
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero-min.jpg);
    /* Adjust image to fill webpage */
    background-size: cover;
    /* Centers background image */ 
    background-position: center;
    /* makes image 100% of viewport (fills entire page w/ image) */ 
    height: 100vh;
    /* Keeps image in a fixed, or static position. */
    background-attachment: fixed;
}
.hero-text-box {
    /* Only way to vertically and horizontally center text box. */
    position: absolute;
    /* Width of the font's row (set to match webpage width above) */
    width: 1140px;
    /* Moves text down 50% of page. */
    top: 50%;
    /* Moves text to the right (or 50% of page). */
    left: 50%;
    /* Formats text to utilize half of the top/left "instructions" above. */
    transform: translate(-50%, -50%);   
}
/* White logo used within main navigation. */
.logo {
    /* height of logo. */
    height: 100px;
    /* Scales to website size. */
    width: auto;
    /* Keeps logo on left side of page. Has other items format around it.. */
    float: left;
     /* Buffer from top of page. */
    margin-top: 20px;
}

 /* Black logo used within Sticky navigation. */
.logo-black { 
    /* Hides logo from main navigation. */
    display: none; 
    /* height of logo. */
    height: 50px;
    /* Scales to website size. */
    width: auto;
    /* Keeps logo on left side of page. Has other items format around it.. */
    float: left;
    /* Buffer of 5px from top/bottom of page. 0 left/right. */
    margin-top: 5px 0;
}


/* -------------------------------------- */ 
/* NAVIGATION*/
/* -------------------------------------- */

/* ---------- MAIN NAVIGATION ---------- */ 
/* Formats Navigation Menu/Row */
.main-nav {
    /* Puts navigation menu on right side of the page. */
    float: right;
    /* Removes bullet points from "un-ordered" list */
    list-style: none;
    /* Buffer from top of page. */
    margin-top: 55px;
}
/* Formats all list items in Navigation Menu/Row */
.main-nav li {
    /* List items horizontally */
    display: inline-block;
     /* Adds 40px of space to the left of each menu item. */
    margin-left: 40px;
}
/* Formats Navigation Menu/Row text */
.main-nav li a:link,
.main-nav li a:visited {
    /* Added 8px padding top/bottom; 0 left/right. */
    padding: 8px 0px;
    /* Link color is white. */
    color: #fff;
    /* Removes link "decor" */
    text-decoration: none;
    /* Capitalizes list text */
    text-transform: uppercase;
    /* Sets font to approx 38px or almost double front size from html class.. */ 
    font-size: 90%;
    /* Hides menu border until hovered upon/actiobed below.*/
    border-bottom: 2px solid transparent;
    /* Transitions button from active to link  */ 
    transition: border-bottom 0.2s;
}
/* Menu Button format/action upon mouse hovers over and ready for selection. */
.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 1px solid #cf6d17;
}

/* ---------- MOBILE NAVIGATION ---------- */ 
/* Formats Mobile Navigation "area". */
.mobile-nav-icon {
    /* Positions icon to the right. */
    float: right;
    /* 30px buffer from top of page. */
    margin-top: 30px;
    /* Makes icon selectable without linking (click to show sub menu). */
    cursor: pointer;
    /* Hide's icon from main navigation. */
    display: none;
}
 
/* Formats Icon to select Mobile Navigation. */
.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;     
}

/* ---------- STICKY NAVIGATION ---------- */ 
/* Class to define Sticky Navigation. */
.sticky {
    /* Fixed position keeps class in one place, regardless of website's "size." */
    position: fixed;
    /* Keeps navigation at top and left side of the page. */
    top: 0;
    left: 0;
    /* Sticky bar will stretch to either side of the page. */
    width: 100%;
    /* Background color - white w/ slight opacity. */
    background-color: rgb(255, 255, 255, 0.98);
    /* Adds shadow to box. 0 x-axis (horizontal), 2px y-axis (vertical), 2px Blur, color. */
    box-shadow: 0 2px 2px #efefef;
    /* Z Index, Keeps Navigation bar as "top layer" on page (always visible). 9999 maximum allowed.  */
    z-index: 9999;
}

/* Formats Stick Navigation Menu/Row. Minimizes buffer from top of page. */
.sticky .main-nav { margin-top: 18px; }

/* Formats Navigation Menu/Row text only within Sticky Class (Menu bar) */
.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    /* Added 16px padding top/bottom; 0 left/right. */
    padding: 16px 0;
    /* Link color is grey. */
    color: #555;
}
 /* Hides main white logo and displays black logo when sticky bar is in use. */
.sticky .logo { display: none; }
.sticky .logo-black { display: block; }


/* -------------------------------------- */ 
/* SECTION 1 = FEATURES */
/* -------------------------------------- */ 
/* Adds slight format to long-copy paragraph. */
.section-features .long-copy{
    margin-bottom: 30px;
}


/* -------------------------------------- */ 
/* SECTION 2 = MEALS */
/* -------------------------------------- */ 
/* Format's section. */
.section-meals {
    /* Since not using title/banner at top of section, removing extra padding. */
    padding: 0;
}
/* Formats meal rows */
.meals-showcase {
    /* Removes bullet points from list */
    list-style: none;
    /* Makes row of phots the width of webpage */
    width: 100%; 
}
/* Formats each individual photo row or list */
.meals-showcase li {
    /* Places photos inside box */
    display: block;
    /* Places images side by side (left to right) */
    float: left;
    /* 4/row so 25% of 100% width of page. */
    width: 25%;
}
/* Formats all images */
.meal-photo {
    /* photo 100% size of parent, or box above. */
    width: 100%;
    /* Formats magins to prevent CSS file from incorrecctly formatting*/
    margin: 0;
    /* Contains image overflow below due to increase in scale. */
    overflow: hidden;
    /* Darken's background behind images. */
    background-color: #000;
}
/* Formats individual image. */
.meal-photo img {
    /* Decreases opacity to 70%. Fades image. With Background above black = darkens images. */
    opacity: 0.7;
    /* ensures each photo is size of box above */
    width: 100%;
    /* Auto to match box format. */
    height: auto;
    /* Uses CSS to make the image a bit larger. Scale set from 100% to 115%*/
    transform: scale(1.15);
    /* Adds small time buffer of .5s to "fade" to hover over action. */
    transition: transform 0.5s, opacity 0.5s; */
}
/* Formats image when hover over. Animates! */
.meal-photo img:hover {
    /* Changes image back to 100% (not darkened) */
    opacity: 1;
    /* Uses CSS to return image back to normal size. 100% (.03 added to adjust image to remove white strip below image. */
    transform: scale(1.03)   
}


/* -------------------------------------- */ 
/* SECTION 3 - HOW IT WORKS */
/* -------------------------------------- */ 
/* Adds minor background color to section to help differenciate sections. */
.section-steps {
    /* Very subtile off-color shade of white. */
    background-color: #f4f4f4;
}
/* Formats first box/column (in this case, the left one) */
.steps-box:first-child {
    /* Aligns box data (image) to right side of box.  */
    text-align: right;
    /* Adding % to adjust to responsiveness.*/
    padding: 3%;   
    /* Adds 30px of space between top of column and header row. */ 
    margin-top: 30px;
}
/* Formats last box/column (in this case, the right one) */
.steps-box:last-child {
    /* Adding % to adjust to responsiveness.*/
    padding: 3%;
    /* Adds 70px of space between top of column and header row. Since it's text, added more space to make it more centered w/ opposite column. */ 
    margin-top: 70px;
}
/* Formats Iphone image (.app-screen). */
.app-screen {
    /* Adjusts width of photo to 40% of the box. */
    width: 40%;
}
 /* Formats text boxes within right column.*/
.works-step {
     /* Adds 50px of space at bottom of text box as found in the right columns. */
    margin-bottom: 50px;
}
/* Format's last text step */ 
.works-step:last-of-type{
    /* Adds 80px of padding after text box. (Differs from other step padding as defined above. */ 
    margin-bottom: 80px;
}
/* Formats div "section" for step numbers. Creates a circle around DIV element. */
.works-step div {
    /* Color of div object */
    color: #e67e22;
    /* Creates Border around inline box below. */
    border: 2px solid #e67e22;
    /* Places div (number) in inline box so it can be formatted to be side by side and wont interfer w/ text area (such as wrapping).*/
    display: inline-block;    
    /* Formats Boarder edges to circular. */
    border-radius: 50%;
    /* Formats Boarder to a circle = height and width equal to make a circle. */
    height: 50px;
    width: 50px;
    /* Formats text (number) to center of circle. */
    text-align: center;
    /* Adds padding around number within circle. */
    padding: 5px;
    /* Puts DIV element to the left of column box.*/
    float: left;
    /* Enlarges font of number within circle. */
    font-size: 150%;
    /* Adds padding between DIV object and text area. */
    margin-right: 25px;
}
/* Removes link underscore (boarder) formatting as established for all website links within REUSABLE COMPONENTS. */
.btn-app:link,
.btn-app:visited {
    border: 0;
}
/* Formats App Buttons to be more unified. */ 
.btn-app img {
    /* Height of 50px */ 
    height: 50px;
    /* Adjust w/ size of web-page. */ 
    width: auto;
    /* Adds 10px of space between buttons. */ 
    margin-right: 10px;
}


/* -------------------------------------- */ 
/* SECTION 4 - CITIES */
/* -------------------------------------- */ 
/* Formats Images within Column Box. */
/* NOTE, while Column box was already used above, there's no images used. So, we're ok to reference the Column Box here to format images. */ 
.box img {
    /* Image will be 100% size of column definitions. */
    width: 100%;
    /* Image hight adjusts with page. */
    height: auto;
    /* Adds buffer between image and text area below. */
    margin-bottom: 15px;
}
/* Formats City section as found within columns. */
.city-feature { 
    /* Adds space between each text section. */
    margin-bottom: 5px;
}


/* -------------------------------------- */ 
/* SECTION 5 - TESTIMONIALS */
/* -------------------------------------- */ 
/* Formats Testimonial section. */
.section-testimonials {
    /* Background image as found in resources/css/img. Linear-gradient adds dark, filter to image to help with text visibility. */
    /* Set to Black w/ 80% transparency. */
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(img/back-customers-min.jpg);
    /* Adjust Image fill section to full size of image. */
    background-size: cover;
    /* Adjust color to white. */
    color: #fff;
    /* Keeps image in a fixed, or static position. */
    background-attachment: fixed;
}
/* Formats Quote blocks. */
blockquote { 
    /* Adds padding between quotes. */
    padding: 2%;
    /* Changes font to Italic. NOTE Italic option only available because it was added via the Google Fonts style sheet at top of HTML page. */
    font-style: italic;
    /* Adds spacing between quote lines. */
    line-height: 145%;
    /* Quotes can still adjust to page formatting. Defined Relative so CSS "Icon" below can remain absolute in positioning. */
    position: relative;
    /* Adds 40px of padding to top of quotes. */
    margin-top: 40px;
}
/* Uses CSS Hero class to add icon, or a quotation before quote section. */
blockquote:before{
    /* Adds "left double quotation mark" character. NOTE: See CSS Special Character note below. */
    content: "\201C";
    /* Size of CSS Icon */
    font-size: 500%;
    /* Puts character into its own box, as to separate it from the quote. */
    display: block;
    /* Sets box position to absolute so it will remain in place above quotes. */
    position: absolute;
    /* Moves value to the down slightly.. */
    top: -5px;
    /* Moves value to the right slightly.. */
    left: -5px;
}
/* Formats Cited Author as found within Block Quote. */
cite {
    /* Adjusts font to be slightly smaller than quote size. */
    font-size: 90%;
    /* Adds padding between author cited and quote lines. */
    margin-top: 25px; 
    /* Puts author into its own box, as to separate it from the quote. */
    display: block;
}
/* Formats author's image as found within Block Quote > Cite. */
cite img {
    /* Adjusts image height to 50px. */
    height: 45px;
    /* Adjusts image to a circle. */
    border-radius: 50%;
    /* Adds patting to the right of image, space from author. */
    margin-right: 10px;
    /* Adjust image to be centered wtih cite "text". */
    vertical-align: middle;
}


/* -------------------------------------- */ 
/* SECTION 6 - PLANS */
/* -------------------------------------- */ 
/* Adds minor background color to section to help differenciate sections. */
.section-plans {
    background-color: #f4f4f4;
}
/* Formats box containing column "Header". */
.plan-box {
    /* Adjusts box backgroud to white. */
    background-color: #fff;
    /* Lightly rounds edges of box. */
    border-radius: 5px;
    /* Keeps columns within center of 90% of page. */
    width: 90%;
    /* Margin set to "indent" or move header towards the left.. */
    margin-left: 5%;
    /* Adds very subtile grey shadow to columns. contains: X-axis, Y-axis, gradient, color */
    box-shadow: 0 2px 2px #efefef;
    
}
/* Formats <div> sections within the columns. */
.plan-box div {
    /* Adds padding between "sections" within colum. */
    padding: 15px;
    /* Adds very subtle grey border around sections. */
    border-bottom: 1px solid #e8e8e8;
}
/* Formats first <div> section within the columns. */
.plan-box div:first-child {
    /* Adds very subtile grey color to top div of columns. */
    background-color: #fcfcfc;
    /* Adds small border to top left of column. */
    border-top-left-radius: 5px;
    /* Adds small border to top right of column. */
    border-top-right-radius: 5px;
}
/* Formats last <div> section within the columns. */
.plan-box div:last-child{
    /* Center's text (buttons). */
    text-align: center;
    /* Ignores border. */
    border: 0;
}

/* Formats main "upper" price column. */
.plan-price {
    font-size: 300%;
    /* Adds buffer at bottom of price section. */
    margin-bottom: 10px;
    /* Decreses font weight to 100; weights as defined in HTML google font file sheet. */
    font-weight: 100%;
     /* Color's Price Orange. */
    color: #e67e22;
}
/* Formats HTML Span section found within price column. Inherits values of .plan-price formatting above. */
.plan-price span {
    /* Adjusts font to 30% of the 300% above. */
    font-size: 30%;
    /* Since "Parent font" was supposed to be 300 and we stripped it to 100 above, adjusting font weight back to 300. */
    font-weight: 300;
}
/* Formats <div> price section after "column header" within the columns. */
.plan-price-meal {
    /* Decreases size of font. */
    font-size: 80%;
}
 /* Removes HTML unsorted list style formatting from Plans box list. */
.plan-box ul {
    list-style: none;
}
 /* Adds spacing around top/bottm of list items within columns box. */
.plan-box ul li {
    padding: 5px 0; 
}


/* -------------------------------------- */ 
/* SECTION 7 - FORM */
/* -------------------------------------- */ 

 /* Formats form as found within the How did you find us? Section. */
.contact-form {
     /* Adjusts form to fit 60% of the page. */
    width: 60%;
     /* Form adjusts within parent element (Form). 0 (top/bottom) | Auto form will adjust with site size. */
    margin: 0 auto;
}
/* Formats text and text fields within the form. */
/* NOTE. Using [type=...] will filter/modify only those field types. If just input is used, all input types will be modified. */
input[type=text],
input[type=email],
select,
textarea {
    /* Ensure's text is full size of text box. */
    width: 100%;
    /* Little space between fields. */
    padding: 7px;
    /* Border around field boxes to highlight field areas. */
    border-radius: 3px;
    /* Adds very subtile grey border around fields. */
    border: 1px solid #ccc;
}
 /* Enlarges text area within form. */
textarea {
    height: 100px;
}
/* Formatting around checkbox field. */
input[type=checkbox] {
    /* Adds padding around check box: Top 10, Right 5, Bottom 10, Left 0. */
    margin: 10px, 5px, 10px, 0; 
}
/* CSS Hero class. Removes HTML formatting whe selecting an input field. (Normally outline/highlights in blue) */
*:focus {outline: none;}

/* Formats form messages section used for form submission feedback (successful or error occured).. */
.form-messages {
    width: 70%;
    /* Centers message. */
    margin: 0 auto;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 20px;
    /* Darkens Form message response text. */
    color: #333;
}

/* Formats form response message background to green (slightly transparent.) = successful. */
.success { background-color: rgba(38, 191, 68, 0.8); }

/* Formats form response message background to red (slightly transparent.) = error occured. */
.error { background-color: rgba(209, 46, 46, 0.8); }


/* -------------------------------------- */ 
/* SECTION 8 - FOOTER */
/* -------------------------------------- */ 

/* Modifies the entire footer section. */
footer {
    /* Background color of footer section, dark grey. */
    background-color: #333;
    /* Enlarges footer section. */
    padding: 50px;
    /* Modifies text to 80% of normal size. */
    font-size: 80%;
}

/* Formats the footer's Menu Navigation. */
.footer-nav {
    /* Removes standard HTML list formatting. */
    list-style: none;
    /* Moves navigation to the left side of the page. */
    float: left;
}

/* Formats the footer's Social Media Menu. */
.social-links {
    /* Removes standard HTML list formatting. */
    list-style: none;
    /* Moves navigation to the right side of the page. */
    float: right;
}
/* Formats all items within footer lists below. */
.footer-nav li,
.social-links li {
    /* Places list items within an inline block, side by side (horizontal menu). */
    display: inline-block;
    /* Add's space to the right of all list items. */
    margin-right: 20px;
}
/* Modifies the last item to adjust for margin-right set at 20 (of center). */
.footer-nav li:last-child,
.social-links li:last-child {
    /* Removes margin formatting from last list item (as noted above). */
    margin-right: 0;
}
/* Formats all list item links. */
.footer-nav li a:link,
.footer-nav li a:visited, 
.social-links li a:link,
.social-links li a:visited {
    /* Removes standard HTML formatting. */
    text-decoration: none;
    /* Removes link border (as defined for website above in Navigation. */
    border: 0;
    /* Formats link color to lighter, grey color. */
    color: #888;
    /* Transitions color within .2s to hover color below. */
    transition: color 0.2s;
}
/* Formats links when hover over. */
.footer-nav li a:hover,
.footer-nav li a:active {
    /* Formats link color to soft white color. */
    color: #ddd;
} 
/* Enlages Social Media Icons. */
.social-links li a:link,
.social-links li a:visited {
    /* Enlages icons. */
    font-size: 160%;
}
.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    transition: color 0.2s;
}

/* Modify icons with hoverover. Hover shows individual social media color. */
/* Social Media colors from https://www.designpieces.com/2012/12/social-media-colours-hex-and-rgb/. */
.ion-social-facebook:hover {
    /* Facebook Blue */
    color: #3b5998;
}
.ion-social-twitter:hover {
    /* Twitter Blue */
    color: #55acee;
}
.ion-social-googleplus:hover {
    /* GooglePlus Red */
    color: #dd4b39;
}
.ion-social-instagram:hover {
    /* Instagram Yellow */
    color: #fccc63;
}

/* Formats footer paragraph (copyrite section or other info). */
footer p {
    /* Formats link color to lighter, grey color. */
    color: #888;
    /* Aligns paragraph to center of footer. */
    text-align: center;
    /* Adds space between footer navigation menu and social links. */
    margin-top: 20px;
}

/* -------------------------------------- */ 
/* ANIMATIONS */
/* -------------------------------------- */ 

/* Hides JS-WP sections before fadeIN and fadeInUp Animations are triggered. */
.js--wp-1,
.js--wp-2,
.js--wp-3 {  
    /* Hides section from view. */
     opacity: 0;
    /* Sets animation speed to 1 second. */
    animation-duration: 1s;
}

 /* Sets animation speed of JS-WP-4 (Premium Plan Pulse animation) to 1 second. */
.js--wp-4 {  animation-duration: 1s; }

 /* Returns JS-WP fadeIn and fadeInUp sections after Animation is completed. */
.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
    /* Returns opacity back to normal once animation is completed. */
    opacity: 1;
}



/* -------------------------------------- */ 
/* DESIGN NOTES */
/* -------------------------------------- */ 

/* --- COLOR SCHEMATICS ---/*
Orange = #e67e22


/* -------------------------------------- */ 
/* ADDITIONAL CSS NOTES */
/* -------------------------------------- */ 

/* --- Transform --- */
/* 
    The transform property applies a 2D or 3D transformation to an element. This property allows you to rotate, scale, move, skew, etc., elements.
    Uses a variety of Property Values to transform an element (list in link below).
    https://www.w3schools.com/cssref/css3_pr_transform.asp
*/

/* --- Transition --- */
/* 
    A shorthand property for all the transition-* properties. Used to add a duration or timer.
    Always specify the duration, otherwise the duration is 0s.
    https://www.w3schools.com/cssref/css3_pr_transition.asp
*/

/* --- Clearfix Class --- */
/* 
    A shorthand property for all the transition-* properties. Used to add a duration or timer.
    Always specify the duration, otherwise the duration is 0s.
    https://www.w3schools.com/cssref/css3_pr_transition.asp
*/

/* --- CSS Special Characters --- */
/* 
    Because we're adding a special character, we need to add CSS translation of character.
    Looking for "left double quotation mark" = \201C 
    List of CSS Glyphs here: https://css-tricks.com/snippets/html/glyphs/ 
*/

/* --- CSS Site to check Website Compatability --- */
/* 
    Not sure if a particular CSS fuction above will work in an older browser? Use link below to verify!
    https://caniuse.com/
*/

/* --- Optimization --- */
/* 
    Check images and compress where possible. Rule of thumb... take highest "width" used and double that amount for high resolution screens. 
    If image is still higher than doubled amount, compress file. 
    Image compressor below is a great tool for larger images.
    https://imagecompressor.com/

    Ready to launch? Use the following link to optimize CSS code by removing comments + white space. 
    https://cssminifier.com/

*/


/* -------------------------------------- */ 
/* END */
/* -------------------------------------- */ 