/* -------------------------------------------------------------------------------- */ 
/* MEDIA QUERIES */
/* -------------------------------------------------------------------------------- */ 

/* Declaration block or Rules used to tell the website what to do when size is smaller than 1140px/row */

/* 1200+ =  Targets Big tablets (landscape mode) & full website size.
/* 768 - 1023px = Targets small tablets, such as Portrait Mode tablets */
/* 481 - 767px = Targets small/Large phones & small tablets. */
/* 0 - 480px = Targets small phones. */


/* -------------------------------------------------------------------------------- */ 
/* 1024 > 1200px = Big tablets (landscape mode) | Portrait Mode tablets. */
/* -------------------------------------------------------------------------------- */ 
@media only screen and (max-width: 1200px) {
    /* Modifies Page "title" to best fit the page. */
    .hero-text-box {
        /* Modified from 1140px to 100% to best fit the page. */
        width: 100%; 
        /* No padding top/bottom; comes "in" 2% left/right. */    
        padding: 0 2%;
    }
    /* Adjust all rows to contain the same padding as above. */
    .row { padding: 0 2%; }
}


/* -------------------------------------------------------------------------------- */ 
/* 768 > 1023px = Small tablets | Portrait Mode tablets */
/* -------------------------------------------------------------------------------- */ 
@media only screen and (max-width: 1023px) {
    /* Adjust the font size for the entire site. (Originally set as 20px within Base Components). */
    body { font-size: 18px; }
    /* Adjust the section size for the entire site. (Originally set to: 80px 0 within Reusable Components). */
    section { padding: 60px 0; }
    /* Modifies paragraph format for "Features" Description to best fit the page. */
    .long-copy {
        /* Modified from 70 to 80% to better fit width of the page.. */
        /* Forces text box to a size of 80% (10% for left, 10% for right remaining). */
        width: 80%;
        /* Width 20% remaining and image shifted to the leff; adding 15% to left to balance (1/2 of 30%). */
        margin-left: 10%;
    }
    /* Modifies "How it Works" Section Columns to best fit the page. Reducing padding to remove some white space. */ 
    /* Below .steps-box was originally set to 30px within How it Works section). */
    .steps-box { margin-top: 10px; }
    /* Originally set to 50px within How it Works section. */
    .steps-box:last-child { margin-top: 10px; }
    /* Originally set to 50px within How it Works section. */
    .works-step { margin-bottom: 40px; }
    /* Originally set to 80px within How it Works section. */
    .works-step:last-child { margin-bottom: 60px; }
    /* Increases size of photo; originally set to 40% within How it Works section. */
    .app-screen { width: 50%; }
    /* Decreases Icon size within Cities Section. */
    .icon-small { 
        /* Originally set to 30px within Resuable Components section. */
        width: 17px;
        /* Originally set to 10px within Resuable Components section. */
        margin-right: 5px;      
    }
    /* Decreases Font size; originally set to 5px within Cities section. */
    .city-feature { font-size: 90%; }
    /* Modifies "Plans" Section Columns to best fit the page.. */
    .plan-box { 
        /* Adjust columns to "fill" page. Originally set to 90% of page. */
        width: 100%;
        /* Removes Margin set to "indent" or move header towards the left. Itially set to 5px. */
        margin-left: 0%;
    }
}


/* -------------------------------------------------------------------------------- */ 
/* 481 > 767px = Small/Large phones | Small tablets */
/* -------------------------------------------------------------------------------- */ 
@media only screen and (max-width: 767px) {
    /* Adjust the font size for the entire site. Originally set as 20px within Base Components. */
    body { font-size: 16px; }
    /* Adjust the section size for the entire site. Originally set to: 80px 0 within Reusable Components. */
    section { padding: 30px 0; }
    /* Modifies Page "title" and rows to best fit the page. No padding top/bottom; comes "in" 4% left/right. */ 
    .row,
    .hero-text-box { padding: 0 4%; }
    /* Modifies columns to fill the page. */
    .col { 
        /* Insead of side-by-side, they will now be stacked. */
        width: 100%; 
        /* Insead of side-by-side, they will now be stacked. Originally top, 1% right, 0% bottom 1% left 1.6; within grid.css sheet.  */
        /* Since columns are now be stacked, just need space on the bottom. */
        margin: 0 0 4% 0;
    }
    /* Hides main navigation to be placed in mobile icon. */
    .main-nav { display: none;}
    
    /* displays mobile icon on page. */
    .mobile-nav-icon {display: inline-block;} 
    
    /* Reformats main navigation for mobile icon use. */
    .main-nav { 
        float: left; 
        /* Adds spacing from top/right. */
        margin-top: 30px;
        margin-left: 25px;  
    }
    
    /* Formats Navigation list items to stack (no more side-to-side) */
    .main-nav li { display: block; }
    
    /* Fomats navigation links */
    .main-nav li a:link,
    .main-nav li a:visited {
        /* Forces links to stack (no more side-to-side) */
        display: block;
        /* Removes hover border (can't hover on mobile) */
        border: 0;
        /* Space between list items 5px top/bottom, 0 left/right. */
        padding: 10px 0;
        /* Increases fontsize for mobile viewing. */
        font-size: 100%;  
    }
    
    
    /* Formats Stick Navigation Menu/Row. Minimizes buffer from top of page. */
    .sticky .main-nav { margin-top: 10px; }

    /* Adjust Sticky Navigation Menu/Row padding top/bottom; 0 left/right. */
    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding: 10px 0; }
    /* Moves mobile icon color to top of page. */
    .sticky .mobile-nav-icon {margin-top: 5px;}
    /* Changes mobile icon color to black. */
    .sticky .mobile-nav-icon i { color: #555};
        
    
    
    
    /* Modifies all H1 Header font sizes. Originally 240% (or aprox. 40 px.) within Reusable Components).. */ 
    h1 { font-size: 180%; }
    /* Modifies all H2 Header font sizes. Originally 180% (or aprox. 36 px.) within Reusable Components).. */ 
    h2 { font-size: 150%; } 
    /* Modifies paragraph format for "Features" Description to best fit the page. */
    .long-copy {
        /* Modified paragraph from 70 to 100% to fill page.. */
        width: 100%;
        /* Removes left padding so image can center. */
        margin-left: 0%;   
    }
    /* Reformats div "section" for step numbers. Creates a circle around DIV element. */
    .works-step div {
        /* Formats Boarder to a circle = height and width equal to make a circle. Originally 50 and 50 within How it Works section.*/
        height: 40px;
        width: 40px;
        /* Adds padding between DIV object and text area. Originally 25px within How it Works section. */
        margin-right: 15px;
        /* Adds padding around number within circle. Originally set to 5px. */
        padding: 4px;
        /* Enlarges font of number within circle. Originally set to 150%. */
        font-size: 120%;
    }
    /* Formats first box/column (in this case, the left one). Aligns box data (image) to center.  */
    .steps-box:first-child { text-align: center; }
    /* Modifies "Plans" Price Section Columns size. Originally set to 300% */
    .plan-price { font-size: 250%; }
    /* Modifies form width as found within the How did you find us? Section. Originally set to 60% within Forms Section. */
    .contact-form { width: 80%; }
    /* Mimize margines as on a smaller screen. Originally set to 50px within How it Works section. */
    .works-step { margin-bottom: 20px; }
    /* Mimize margines as on a smaller screen.  Originally set to 80px within How it Works section. */
    .works-step:last-of-type{ margin-bottom: 20px; }
}


/* -------------------------------------------------------------------------------- */ 
/* 481 > 767px = Small phones | Large phones */
/* -------------------------------------------------------------------------------- */ 
@media only screen and (max-width: 480px) {
    /* Adjust the section size for the entire site. Originally set to: 80px 0 within Reusable Components. */
    section { padding: 25px 0; }
    /* Modifies form width as found within the How did you find us? Section. Originally set to 60% within Forms Section. */
    /* Because it's a small device, adjusting form to fill screen. */
    .contact-form { width: 100%: }
}
/* -------------------------------------- */ 
/* END */
/* -------------------------------------- */ 